@import url('https://fonts.googleapis.com/css?family=Barrio');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

@import 'variables';
@import 'tags';

$main-color: #ececec;
$link-color: #fac65a;
$dark-grey: #383838;
$light-grey: #e0e0e0;
$brand-color: #3f4873;

body {
  background-color: #eee;
}

.search {
  .form-control {
    background: #fff;
    border-color: #fff;
    box-shadow: none;
    padding: 3rem;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
  }
}

.one-store {
  &__description {
    padding: 1rem;
    font-size: 4rem;
  }
  &__hero {
    height: 500px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%);
    &:before {
      display: block;
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      right: 0;
      background:
        linear-gradient(45deg, hsla(190, 95%, 43%, 1) 0%, hsla(190, 95%, 43%, 0) 70%),
        linear-gradient(135deg, hsla(219, 93%, 48%, 1) 10%, hsla(219, 93%, 48%, 0) 80%),
        linear-gradient(225deg, hsla(293, 93%, 48%, 1) 10%, hsla(293, 93%, 48%, 0) 80%),
        linear-gradient(315deg, hsla(130, 96%, 45%, 1) 100%, hsla(130, 96%, 45%, 0) 70%);
      opacity: 0.6;
      z-index: 1;
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 2vw), 0% 100%);
    }
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
  &__details {
    background: white;
    // clip-path: polygon(0px 2vw, 100% 0, 100% calc(100% - 2vw), 0% 100%);
    position: relative;
    padding: 3rem;
    margin-top: -10rem;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.15);
  }
  &__map {
    width: calc(100% + 6rem);
    max-width: none;
    margin-top: -3rem;
    margin-left: -3rem;
  }
  &__location {
    margin: 0;
    margin-top: -3rem;
    margin-right: -5rem;
    background: #000;
    color: white;
    display: inline-block;
    float: right;
    position: relative;
    padding: 1rem;
    @media all and (max-width: 850px) {
      margin-right: 0;
    }
  }
}

.title--single {
  background-color: rgba(255, 197, 91, 0.9);
  padding: 1rem;
  font-size: 10rem;
  z-index: 2;
  line-height: 1.1;
}

.alert {
  border-radius: 0;
  margin: 0;
  transition: opacity 0.3s ease-in-out;
  &:hover {
    opacity: 0.8;
  }
}

.alert-error {
  background-color: #f96970;
}

a {
  transition: color 0.2s ease-in-out;
  &:hover {
    text-decoration: none;
  }
}

input {
  font-family: 'Roboto', sans-serif;
}

.form-control {
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
  color: $dark-grey;
}

.title {
  padding: 1rem;
  transform: rotate(-10deg);
  position: absolute;
  top: 0;
  left: 1rem;
  background-color: rgba(255, 197, 91, 0.9);
  word-wrap: break-word;
  text-align: center;
  color: $dark-grey;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.navbar-brand {
  font-family: 'Barrio', cursive;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

.navbar {
  margin: 0;
}

.navbar-default {
  background: #3A1C71;
  background: -webkit-linear-gradient(to right, rgba(58, 28, 113, 1), rgba(215, 109, 119, 1), #ffaf7b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(58, 28, 113, 1), rgba(215, 109, 119, 1), #ffaf7b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: $main-color;
  border-radius: 0;
  .navbar-brand {
    color: #fff;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    &:hover {
      background-color: #fff;
      color: $dark-grey;
    }
  }
  .navbar-nav li a {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    &.active {
      background-color: #fff;
      color: $dark-grey;
    }
    &:hover {
      background-color: #fff;
      color: $dark-grey;
    }
  }
}

.main-text {
  font-size: 6rem;
  &:after {
    content: "";
    display: block;
    background-color: $light-grey;
    margin: 1rem 0 2rem 0;
    width: 100%;
    height: 2px;
  }
}

.jumbotron {
  background: linear-gradient(to right, rgba(58, 28, 113, 1), rgba(215, 109, 119, 0.5), #ffaf7b), url('/images/photos/header-image.jpeg') no-repeat;
  height: 50px;
  margin: 0;
  padding: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.checkbox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stores {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .store {
    position: relative;
    max-width: 300px;
    background-color: #fff;
    margin: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    &__hero {
      width: 100%;
      img {
        width: 100%;
        transition: opacity 0.3s ease-in-out;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    &__info {
      padding: 2rem 3rem 1rem 1rem;
      .btn {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
      }
    }
  }
}

.alert {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.well {
  background-color: #fff;
  padding: 1rem 4rem;
  border-radius: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin: 1rem 0;
}

footer {
  background: #3A1C71;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFAF7B, #D76D77, #3A1C71); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: #fff;
  text-transform: uppercase;
  margin-top: 2rem;
}
